<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팜스토리::찾아오시는길</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
         <th:block th:include="/_header.html"></th:block>

        <div id="sub">
            <div><img src="../img/sub_top_tit1.png" alt="INTRODUCTION"></div>
            <section class="cate1">
                <aside>
                    <img src="../img/sub_aside_cate1_tit.png" alt="팜스토리 소개"/>

                    <ul class="lnb">
                        <li><a th:href="@{/introduction/hello}">인사말</a></li>
                        <li class="on"><a th:href="@{/introduction/direction}">찾아오시는 길</a></li>
                    </ul>

                </aside>
                <article>
                    <nav>
                        <img src="../img/sub_nav_tit_cate1_tit2.png" alt="찾아오시는길"/>
                        <p>
                            HOME > 팜스토리소개 > <em>찾아오시는길</em>
                        </p>
                    </nav>

                     <!-- 내용 시작 -->
                    <!-- * 카카오맵 - 지도퍼가기 -->
                    <!-- 1. 지도 노드 -->
                    <div id="daumRoughmapContainer1629772687227" class="root_daum_roughmap root_daum_roughmap_landing"></div>

                    <!--
                        2. 설치 스크립트
                        * 지도 퍼가기 서비스를 2개 이상 넣을 경우, 설치 스크립트는 하나만 삽입합니다.
                    -->
                    <script charset="UTF-8" class="daum_roughmap_loader_script" src="https://ssl.daumcdn.net/dmaps/map_js_init/roughmapLoader.js"></script>

                    <!-- 3. 실행 스크립트 -->
                    <script charset="UTF-8">
                        new daum.roughmap.Lander({
                            "timestamp" : "1629772687227",
                            "key" : "2746p",
                            "mapWidth" : "750",
                            "mapHeight" : "500"
                        }).render();
                    </script>

                    <!-- 내용 끝 -->

                </article>
            </section>

        </div>
       <th:block th:include="/_footer.html"></th:block>
    </div>    
</body>
</html>