<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>TheJoen Movie</title>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://kit.fontawesome.com/20962f3e4b.js" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css">
    <link rel="stylesheet" th:href="@{/css/main.css}"/>
    <link rel="stylesheet" th:href="@{/css/header.css}"/>
    <link rel="stylesheet" th:href="@{/css/event.css}"/>
    
    
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/easing/EasePack.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/TweenLite.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/gsap/2.1.3/plugins/CSSPlugin.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
	<script type="text/javascript" th:src="@{/js/event.js}">

</script>
	    
    <script>
        $(document).ready(function(){
          $('.slider > ul').bxSlider({
              pager: false, 
              easing: 'linear',
              auto: true, // 슬라이더 자동여부 
              autoHover: true // 마우스를 위에 올렸을 경우 애니메이션 정지 
          });
        });
    </script>
	<style>
       .event-title{
       		width: 800px;
       		font-size: 80px;
       		font-weight: bold;
       		margin: 100px auto;
       }
    </style>
</head>
<body>
    <div class="body-wrap">
        <th:block th:include="@{_header.html}"/>
        
        <h1 class="event-title">티켓 예매 한정 뽑기!</h1>
        <div id="gameContainer"> 
            <span>▼</span>
            <div class="board_start join">START</div>
            <div class="board_on obj"></div>
        </div>

        <div id="popup_gift" class="popup">
            <div class="lottery_present"></div>
            <a href="#" class="close">닫기 </a>
        </div>

    </div>
    
</body>
</html>