
#header-img{
    width: 51%;
    height: 274px;
    margin-top: 40px;
    margin-right: 395px;
    border: 1px solid black;
    float: right;
} 

/* 검색창 스타일링 */
main > section > #search{
    position: absolute;

    top: 560px;
    left: 730px;
}
main > section > #search > input[name=keyword]{
    
    width: 400px;
    height: 50px;
    font-size: 20px;
    text-align: center;
    border: 1px solid black;
}
main > section > #search > button{
    position: absolute;
    top: 0px;
    width: 60px;
    height: 52px;
    border: 1px solid black;
}


/* 슬라이더 영역 */
.slider {
    position:absolute;

    top:660px;
    left: 500px;
    width: 900px;
    height: 800px;
    overflow: hidden;

    
}
.slider img{
    width: 101%;
    height: 691px;
}
.slider > .bx-wrapper {
    -moz-box-shadow: none;
    -webkit-box-shadow: none;
    box-shadow: none;
    border: none;
    background: #fff;
}




/* 메인 박스오피스 영화 TOP 10 */

main > section {
    
    width: 1000px;
    height: 200px;
    
}

main > section > .rank{
    width:1800px;
    height: auto;
    overflow: hidden;
    
    
    margin-top: 1500px;
    margin-left: 50px;
	
    
}
main  > section > .rank > h1{
	color: black; 
	font-size: 70px; 
	font-family: fantasy;
	text-align: center;
}

main > section > section > article {

    float: left;
    margin-top: 40px;
    padding: 30px 44px;  
    width: auto;

    height: auto;
    
}


/* 관람평 이미지*/

main > section > section > article .rank-movie-image > img{
    width: 250px;
    height: 400px;
}

h1.rating{

    
    width: 160px;
    height: 20px;
    font-size: 0px;
    background-image: url(./img/rating-star.png);
    background-repeat: no-repeat;
    background-position: 26px 0px;
    
}
h1.rating.star5 {
    margin-top: 20px;
    background-position: 70px -160px;
}
