@font-face { font-family: 'GmarketSansMedium'; src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2001@1.1/GmarketSansMedium.woff') format('woff'); font-weight: normal; font-style: normal; }
        
        span {
            font-size: 33px;
        }
        .body-wrap{  background-color:#ffffff;  position: relative; overflow: hidden;}
        .body-wrap #gameContainer{width:508px; height:671px; text-align: center; position: relative;margin:0px auto; margin-top: 148px;}
        .body-wrap #gameContainer h1{}
        .body-wrap #gameContainer .obj{position: absolute;}
        .body-wrap #gameContainer .board_start{  
            padding: 10px;
            background: #f00;
            text-align: center;
            vertical-align: middle; 
	        line-height: 150px; 
	        border: 1px solid #000;
            color: #fff;   
            font-size:30px;
            text-align: center;
            vertical-align: middle;
            font-weight: bold;
        	position:absolute; left:165px; top:210px;z-index:9; width:150px; border-radius:100px;}
        .body-wrap #gameContainer .board_start
        img{width:100%;}
        .body-wrap #gameContainer .board_bg{width:508px; height:508px; top:40px; left:0px; z-index: 2;}
        .body-wrap #gameContainer .board_bg img{width:100%;}
        .body-wrap #gameContainer .board_on{width:508px; height:508px; top:40px; left:0px; z-index: 3; background-image: url('//img.babathe.com/upload/specialDisplay/htmlImage/2019/test/roulette_circle_bg.png');    background-size: 508px;
        }
        .body-wrap #gameContainer .board_on img{position:absolute; width:100px;top:115px; height:100px;}
        .body-wrap #gameContainer .board_on img:nth-child(1){    left: 55px;  transform: rotate( -60deg );  top: 120px;}
        .body-wrap #gameContainer .board_on img:nth-child(2){left: 62px;  transform: rotate( -113deg );  top: 286px;  }
        .body-wrap #gameContainer .board_on img:nth-child(3){  left: 208px;  top: 372px; transform: rotate(-180deg);}  
        .body-wrap #gameContainer .board_on img:nth-child(4){left: 351px; top: 286px;  transform: rotate(-245deg);}
        .body-wrap #gameContainer .board_on img:nth-child(5){ left: 351px;  top: 125px;  transform: rotate(-292deg);   }
        .body-wrap #gameContainer .board_on img:nth-child(6){  left: 205px;  top: 42px;  transform: rotate(5deg); }  

        .body-wrap #gameContainer .obj.board_arrow{width:90px; height:105px; top:0px; left:195px; z-index: 5;}
        .body-wrap #gameContainer .char1{width:259px; height:246px; top:400px; left:90px; z-index: 1;}
        .body-wrap #gameContainer .char2{width:175px; height:198px; top:449px; left:600px; z-index: 1;}
        .body-wrap #gameContainer .char3{width:112px; height:108px; top:540px; left:550px; z-index: 3;}
        .body-wrap #gameContainer .txt1{width:420px; height:30px; bottom:20px; left:260px; z-index: 3;}

        .popup {display: none; position: fixed; left: 50%; z-index: 99999; text-align: center; background:#fff; font-size:20px; color:#000;}
        #fade {display: none;background: #000;position: fixed;left: 0;top: 0;width: 100%;height: 100%;opacity: .60;z-index: 9999;}
        #popup_gift{width:475px; height:505px; top:120px;}
        #popup_gift .lottery_present {text-align:center; font-size: 30px;}
        #popup_gift .lottery_present img{ display:block; margin: 50px auto 30px;}
		
        #popup_fail{width:475px; height:505px; top:120px;}
        .popup  .close{ display:inline-block; width:150px; hegiht:50px; line-height:50px; color:#fff; background:#333; margin: 30px 0 0;}