<!-- Event가 cate4, tit4 4번이었어~~~~~! -->
        <div id="sub">
            <div><img th:src="@{/img/sub_top_tit4.png}" alt="EVENT"></div>
            <section class="cate4">
                <aside>
                    <img th:src="@{/img/sub_aside_cate4_tit.png}" alt="이벤트"/>

                    <ul class="lnb">
                        <li th:classappend="${cate}=='event'? on"><a th:href="@{/board/list(group=Event, cate=event)}">이벤트</a></li>
                    </ul>

                </aside>
                <article>
                    <nav>
                        <img th:src="@{/img/sub_nav_tit_cate4_{cate}.png(cate=${cate})}" alt="이벤트"/>
                        <p>
                            HOME > 이벤트 > 
                            <em th:if="${cate}=='event'">이벤트</em>
                        </p>
                    </nav>

                    <!-- 내용 시작 -->