<html xmlns:th="http://www.thymeleaf.org">
<!-- Community가 cate5, tit5 5번이었어~~~~~! -->
        <div id="sub">
            <div><img th:src="@{/img/sub_top_tit5.png}" alt="COMMUNITY"></div>
            <section class="cate5">
                <aside>
                    <img th:src="@{/img/sub_aside_cate5_tit.png}" alt="커뮤니티"/>

                    <ul class="lnb">
                        <li th:classappend="${cate}=='notice'? on"><a th:href="@{/board/list(group=Community,cate=notice)}">공지사항</a></li>
                        <li th:classappend="${cate}=='menu'? on"><a th:href="@{/board/list(group=Community,cate=menu)}">오늘의식단</a></li>
                        <li th:classappend="${cate}=='chef'? on"><a th:href="@{/board/list(group=Community,cate=chef)}">나도요리사</a></li>
                        <li th:classappend="${cate}=='qna'? on"><a th:href="@{/board/list(group=Community,cate=qna)}">고객문의</a></li>
                        <li th:classappend="${cate}=='faq'? on"><a th:href="@{/board/list(group=Community,cate=faq)}">자주묻는질문</a></li>
                    </ul>

                </aside>
                <article>
                    <nav>
                        <img th:src="@{/img/sub_nav_tit_cate5_{cate}.png(cate=${cate})}" alt="커뮤니티"/>
                        <p>
                            HOME > 커뮤니티 > 
                            
                            <em th:if="${cate}=='notice'">공지사항</em>
                            <em th:if="${cate}=='menu'">오늘의식단</em>
                            <em th:if="${cate}=='chef'">나도요리사</em>
                            <em th:if="${cate}=='qna'">1:1고객문의</em>
                            <em th:if="${cate}=='faq'">자주묻는질문</em>

                        </p>
                    </nav>

                    <!-- 내용 시작 -->