<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>글수정</title>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
</head>
<body>
    <div id="wrapper">
       <th:block th:include="_header.html"></th:block>
        <th:block th:include="board/_aside__${group}__.html"></th:block>
        <input type="hidden" th:if="${session.sessMember != null}"name="uid" th:value="${session.sessMember.uid}"/>
        <section id="board" class="modify">
            <h3>글수정</h3>
            <article>
                <form th:action="@{/board/modify}" method="post" enctype="multipart/form-data">
                    <input type="hidden" name="group" th:value="${group}"/>
                	<input type="hidden" name="cate" th:value="${cate}"/>
                	<input type="hidden" th:if="${session.sessMember != null}"name="uid" th:value="${session.sessMember.uid}"/>
                    <table>
                        <tr>
                            <td>제목</td>
                            <td><input type="text" name="title" th:value="${articleVo.title}"/></td>
                        </tr>
                        <tr>
                            <td>내용</td>
                            <td>
                                <textarea name="content">[[${articleVo.content}]]</textarea>                                
                            </td>
                        </tr>
                        <tr>
                            <td>첨부</td>
                            <td><input type="file" name="fname" th:value="${articleVo.fileVo}"/></td>
                        </tr>
                    </table>
                    <div>
                        <a th:href="@{/board/view(group=${group},cate=${cate},seq=${articleVo.seq})}" class="btnCancel">취소</a>
                        <input type="submit"  class="btnWrite" value="수정완료">
                    </div>
                </form>
            </article>
        </section>
      <th:block th:include="_footer.html"></th:block>
    </div>
</body>
</html>