<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>팜스토리</title>
    <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css"/>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.css"/>
    <link rel="stylesheet" th:href="@{/css/style.css}"/>
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
    <script src="https://cdn.jsdelivr.net/bxslider/4.2.12/jquery.bxslider.min.js"></script>    
    <script th:src="@{/js/slider.js}"></script>
    <script th:inline="javascript">
    	
    	var success = [[${success}]];
    	
    	if(success == 104){
    		alert('로그인 성공하셨습니다!!!');
    	}
    	
    
    </script>
</head>
<body>
    <div id="wrapper">
    	<th:block th:include="_header.html"></th:block>
        <main>
            <div class="slider">

                <ul>
                    <li><img src="./img/main_slide_img1.jpg" alt="슬라이더1"></li>
                    <li><img src="./img/main_slide_img2.jpg" alt="슬라이더2"></li>
                    <li><img src="./img/main_slide_img3.jpg" alt="슬라이더3"></li>
                </ul>

                <img src="./img/main_slide_img_tit.png" alt="사람과 자연을 사랑하는 팜스토리"/>

                <div class="banner">
                    <img src="./img/main_banner_txt.png" alt="GRAND OPEN"/>
                    <img src="./img/main_banner_tit.png" alt="팜스토리 오픈기념 30% 할인 이벤트"/>
                    <img src="./img/main_banner_img.png" alt="과일"/>
                </div>
            </div>

            <div class="quick">
                <a href="#"><img src="./img/main_banner_sub1_tit.png" alt="오늘의 식단"></a>
                <a href="#"><img src="./img/main_banner_sub2_tit.png" alt="나도 요리사"></a>                
            </div>

            <div class="latest">
                <div>
                    <a href="#"><img src="./img/main_latest1_tit.png" alt="텃밭 가꾸기"/></a>
                    <img src="./img/main_latest1_img.jpg" alt="이미지"/>
                    <table border="0">
                        <tr th:each="vo:${latest1}">
                            <td>></td>
                            <td><a th:href="@{/board/view(group=Croptalk,cate=grow,seq=${vo.seq})}">[[${vo.title}]]</a></td> 
                            <!-- group과 cate를 parameter로 받지않고 정확하게 받아오는 이유는 메인 페이지에서 최신글을 눌렀을때 그 해당 글로바로 가야하기 때문이며 정확하게 그 번호의 글을 불러 와야하기 때문이다,,
                            그리고 MainController에서도 정확하게 cate이름을 명칭 해주었기 때문이다 -->
                            <td>[[${vo.rdate.substring(2,10)}]]</td>
                        </tr>
                    </table>
                </div>
                <div>
                    <a href="#"><img src="./img/main_latest2_tit.png" alt="귀농학교"/></a>
                    <img src="./img/main_latest2_img.jpg" alt="이미지"/>
                    <table border="0">
                    	<tr th:each="vo:${latest2}">
                            <td>></td>
                            <td><a th:href="@{/board/view(group=Croptalk,cate=school,seq=${vo.seq})}">[[${vo.title}]]</a></td>
                            <td>[[${vo.rdate.substring(2,10)}]]</td>
                        </tr>                       
                    </table>
                </div>
                <div>
                    <a href="#"><img src="./img/main_latest3_tit.png" alt="농작물 이야기"/></a>
                    <img src="./img/main_latest3_img.jpg" alt="이미지"/>
                    <table border="0">
                        <tr th:each="vo:${latest3}">
                            <td>></td>
                            <td><a th:href="@{/board/view(group=Croptalk,cate=story,seq=${vo.seq})}">[[${vo.title}]]</a></td>
                            <td>[[${vo.rdate.substring(2,10)}]]</td>
                        </tr>
                    </table>
                </div>
                
            </div>

            <div class="info">
                <div>
                   <img src="./img/main_sub2_cs_tit.png" class="tit" alt="고객센터 안내"/>

		            <div class="cs">
		                <img src="./img/main_sub2_cs_img.png" alt="이미지"/>
		                <img src="./img/main_sub2_cs_txt.png" alt="1666-777"/>
		                <ul>
		                    <li>평일: AM 09:00 ~ PM 06:00</li>
		                    <li>점심: PM 12:00 ~ PM 01:00</li>
		                    <li>토, 일요일, 공휴일 휴무</li>
		                </ul>
		            </div>
		
		            <div class="btns">
		                <a href="#"><img src="./img/main_sub2_cs_bt1.png" alt="고객문의"></a>
		                <a href="#"><img src="./img/main_sub2_cs_bt2.png" alt="자주묻는질문"></a>
		                <a href="#"><img src="./img/main_sub2_cs_bt3.png" alt="배송조회"></a>
		            </div>

                </div>
                <div>
                    <img src="./img/main_sub2_account_tit.png" class="tit" alt="계좌안내"/>
                    <p class="account">
                        기업은행 123-456789-01-01-012<br />
                        국민은행 01-1234-56789<br />
                        우리은행 123-456789-01-01-012<br />
                        하나은행 123-456789-01-01<br />
                        예 금 주 (주)팜스토리
                    </p>
                </div>
                <div>
                    <div id="tabs">
                        <ul>
                            <li><a href="#tabs-1">공지사항</a></li>
                            <li><a href="#tabs-2">1:1 고객문의</a></li>
                            <li><a href="#tabs-3">자주묻는 질문</a></li>
                        </ul>
                        <div id="tabs-1">
                            <ul>
                                <li>· 홈페이지 오픈 기념 이벤트를 진행합니다.</li>
                                <li>· 홈페이지 오픈 기념 이벤트를 진행합니다.</li>
                                <li>· 홈페이지 오픈 기념 이벤트를 진행합니다.</li>
                            </ul>
                        </div>
                        <div id="tabs-2">
                            <ul>
                                <li>· 홈페이지 이용 관련 불편사항을 들려주세요.</li>
                                <li>· 홈페이지 이용 관련 불편사항을 들려주세요.</li>
                                <li>· 홈페이지 이용 관련 불편사항을 들려주세요.</li>
                            </ul>
                        </div>
                        <div id="tabs-3">
                            <ul>
                                <li>· 홈페이지를 오픈하였습니다.</li>
                                <li>· 홈페이지를 오픈하였습니다.</li>
                                <li>· 홈페이지를 오픈하였습니다.</li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </main>
       <th:block th:include="_footer.html"></th:block>
    </div>
    
</body>
</html>